<div class="">
  <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
    <div class="form-group">
      <label class="center-block">First Name:
        <input class="form-control" formControlName="firstname">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Last Name:
        <input class="form-control" formControlName="lastname">
      </label>
    </div>
    <!-- <div class="form-group">
      <label class="center-block">City:
          <input class="form-control" formControlName="city">
      </label>
    </div> -->
    <div class="">
      <button type="submit" [disabled]="!createUserForm.valid" class="btn btn-success">Submit</button>
    </div>
</form>
</div>
