<div class="">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="form-group">
      <label class="center-block">Username:
        <input class="form-control" formControlName="username">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Password:
        <input class="form-control" formControlName="password">
      </label>
    </div>
    <div class="">
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success">Login</button>
    </div>
</form>
</div>
